
/* Large devices , Desktops*/
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1199px) {
    .top-contact li{ font-size: 22px; }
    /* PAGE ABOUT */
    .about-text {
        margin-top: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 991px) {
    /*HEADER*/
    .top-header{ line-height: 50px; }
    .top-contact li{ font-size: 15px; }

    /* PAGE ABOUT */
    .about-block {
        margin-bottom: 0;
        padding: 0;
        border-top: none;
    }
    .about-text {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 767px) {
    /*HEADER*/
    .header { box-shadow: none; }
    .top-header{ line-height: 0; }
    .logo { margin-bottom: 10px; }
    .top-contact { padding: 0; margin: 20px 0 10px 0; text-align: center; }

    nav.nav-top { background: none; }
    .top-menu-mobile-btn {display: inline-block;}
    .top-menu-desktop { display: none; }
    /*END HEADER*/

    /*FOOTER*/
    .logo-text-footer, .slogan-text-footer {
        text-align: center;
    }
    .slogan-text-footer {
        border-bottom: 1px solid #939393;
        padding-bottom: 10px;
    }
    .footer-contacts, .footer-menu {
        margin-left: 50px;
    }

    .footer-contacts {
        margin-top: 20px;
    }
    /*END FOOTER*/

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    /*HEADER*/
    .top-contact li{ font-size: 12px; }
    /*END HEADER*/
    /* PROMO BLOCK */
    .blocks-wrapper h1 { font-size: 20px; }
    /* END PROMO BLOCK */
}

@media only screen and (max-width : 360px) {
    /*HEADER*/

    /*END HEADER*/
}