
body {
    font-family: OpenSansRegular, sans-serif;
    font-weight: normal;
    min-width: 360px;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.content {

}

/* HEADER */
.header {
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    padding-bottom: 15px;
}

.top-header{
    padding: 10px 0 10px 0;
    line-height: 65px;
}

.top-contact { text-align: right; }

.top-contact li{
    display: inline-block;
    color: #575958;
    font-size: 24px;
}

nav.nav-top {
    background: #575858;
}

/* TOP MENU DESKTOP */
.top-menu-desktop li {
    display: inline-block;
    padding: 5px 15px;
    border-right: 1px solid #575858;
    position: relative;
}

.top-menu-desktop li:hover {
    background: #797a7a;
}

.top-menu-desktop li.active {
    background: #373838;
}

.top-menu-desktop li a, .top-menu-desktop li span {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
}

.top-menu-desktop .submenu {
    display: none;
    position: absolute;
    width: 400px;
    list-style: none;
    border: 1px solid #ededed;
    left: 0;
    top: 35px;
    background: #575858;
    z-index: 999;

}

.top-menu-desktop .submenu li:first-child {
    border-top: 1px solid #939393;
}

.top-menu-desktop .submenu li {
    padding: 10px 0;
    border-bottom: 1px solid #939393;
    display: block;
}

.top-menu-desktop .submenu li a {
    font-size: 14px;
}

.top-menu-desktop li:hover .submenu {
    display: block;
}

/* TOP MENU MOBILE */
.top-menu-mobile-wrapper {
    position: relative;
    cursor: pointer;
}

.top-menu-mobile-btn {
    display: none;
    font-size: 18px;
    width: 100%;
    background: #575858;
    border: none;
    color: #fff;
    padding: 5px 20px;
}
.top-menu-mobile-btn span {
    text-transform: uppercase;
}

.top-menu-mobile {
    display: none;
}

.top-menu-mobile {
    position: absolute;
    padding: 35px 0 0 0;
    width: 100%;
    z-index: 999;
}

.top-menu-mobile li{
    background: #fff;
    color: #888;
    font-size: 14px;
}

.top-menu-mobile li a, .top-menu-mobile li span {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    color: #575858;
    font-weight: 600;
}

.top-menu-mobile li a:hover{
    background: #e6e6e6;
}

.top-menu-mobile-wrapper:active .top-menu-mobile {
    display: block;
}
.top-menu-mobile:hover {
    display: block;
}

.top-menu-mobile .submenu{


}

.top-menu-mobile .submenu li {

}

.top-menu-mobile .submenu li a {
    padding-left: 40px;
    font-size: 14px;
    font-weight: 500;
}

/* END HEADER */

/* MAIN SLIDER */
.main-slides-wrapper {
    margin-top: 5px;
}

.owl-carousel {
    position: relative;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 45%;
    font-size: 24px;
    color: #ccc;
}

.owl-prev i:hover, .owl-next i:hover {
    color: #215fad;
}

.owl-prev {
    left: 5px;
}

.owl-next {
    right: 5px;
}

.owl-dots {
    position: absolute;
    left: 0;
    width: 200px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}
.owl-dot{
    width: 10px;
    height: 10px;
    background: #ccc;
    margin-left: 10px;
    display: inline-block;
}

.owl-dot.active {
    background: #215fad;
}

/* END MAIN SLIDER */

.content {
    margin: 20px 0 20px 0;
}
.blocks-wrapper {
    margin: 5px 0;
    padding: 15px 0;
}
.blocks-wrapper:nth-child(2) {
    background: #f3f3f3;
}

/* PROMO BLOCK */

.blocks-wrapper h1 {
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 28px;
    color: #575958;
    text-transform: uppercase;
}

.main-block {
    margin-bottom: 20px;
}

.main-block h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: #575958;
    font-weight: 600;
}

.main-block-text {
    border-right: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding: 20px;
}
/* END PROMO BLOCK */

/* PRODUCTS MAIN */
.main-products-icon {
    font-size: 48px;
    color: #215fad;
}

.main-products-icon, .main-products-header, .main-products-text {
    text-align: center;
}
/* END PRODUCTS MAIN */

/* FEEDBACK FORM */
.feedback-form label {
    display: block;
}
.feedback-form input, textarea, button {
    border: 1px solid #e1e1e1;
    padding: 15px 20px;
    outline: none;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
}

.feedback-form button {
    background-color: #575858;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}
.feedback-form button:hover {
    background-color: #215fad;
}

.fz152 input[type=checkbox]{
    width: 20px;
}
.fz152 a { color: #215fad; }

/* END FEEDBACK FORM */

/* FOOTER */
.footer {
    background: #575858;
    padding: 40px 0 20px 0;
}

.footer .logo a {
    text-decoration: none;
}

.logo-text-footer {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
}

.slogan-text-footer {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

.footer-menu li a{
    color: #ffffff;
}

.footer-contacts li{
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
}

.copyright {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: #ccc;
    border-top: 1px solid #939393;
}
/* END FOOTER */